<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   </configSections>
   <appSettings />
   <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
   <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <compilation debug="true" targetFramework="4.7.2" />
      <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
   </system.web>
   <system.serviceModel>

		<bindings>
			<webHttpBinding>
				<binding name="secureHttpBinding">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>

		<behaviors>
         <serviceBehaviors>
				
            <behavior name="StudentService.ServiceStudent">
               <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpsGetUrl=""/>
               <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
				
         </serviceBehaviors>
			
         <endpointBehaviors>
            <behavior name="webBehaviour">
               <webHttp />
            </behavior>
         </endpointBehaviors>
			
      </behaviors>
	
      <services>
         <service behaviorConfiguration="StudentService.ServiceStudent" 
						name="StudentService.ServiceStudent">
				
            <endpoint 
					address="" 
					bindingConfiguration="secureHttpBinding" 
					binding="webHttpBinding"
					behaviorConfiguration="webBehaviour"
					contract="StudentService.IStudent" />
				
				<endpoint 
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange" />
			</service>
      </services>
					
      <protocolMapping>
         <add binding="webHttpBinding" scheme="https" />
      </protocolMapping>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
      <standardEndpoints>
         <webHttpEndpoint>
            <standardEndpoint crossDomainScriptAccessEnabled="true" />
         </webHttpEndpoint>
         <webScriptEndpoint>
            <standardEndpoint crossDomainScriptAccessEnabled="true" />
         </webScriptEndpoint>
      </standardEndpoints>
   </system.serviceModel>
   <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true" />
      <httpProtocol>
         <customHeaders>
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE"/>
            <add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
         </customHeaders>
      </httpProtocol>
      <!--
        Para procurar o diretório de raiz do aplicativo Web durante a depuração, defina o valor abaixo para verdadeiro.
        Defina-o para falso antes da implantação para evitar a divulgação de informações da pasta do aplicativo Web.
-->
      <directoryBrowse enabled="true" />
   <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
   <entityFramework>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
   </entityFramework>
   <connectionStrings>
      <add name="school" connectionString="data source=fcamarateste.database.windows.net;initial catalog=school;user id=lucas;password=Gostart3@#!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
   </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>